html{
  --radius: .2rem;
  --input-width: 13.3rem;
  --font-family: 'Roboto', 'Open Sans', sans-serif;
  --text-color: rgb(86, 86, 86);
}
/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
#map {
  height: 90%;
}

/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-location-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: .2rem;
  margin-right: 9px;
  color: #666666;
  cursor: pointer;
}
.user-location-icon{
  vertical-align: middle;
  font-size: 1.7rem;
}

.user-position-img-wrapper{
  position: relative;
  transform: translate(-50%, -50%);
}
.user-position-img-wrapper img{
  width: 40px;
  display: block;
}
.user-position-img-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px #0b5583 solid;
  animation: drop-shadow-anim 1s ease-in 0s infinite normal ;
}
.location-input, .route-info{
  outline: none;
  border: none;
  margin: 1rem 0 0 1rem;
  border-radius: var(--radius);
  padding: .5rem;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  font-family: var(--font-family);
  font-size: .9rem;
  color: var(--text-color);
  cursor: pointer;
}
.location-input{
  width: var(--input-width);
  display: block;
}
.route-info{
  width: calc( var(--input-width) - 1rem);
  height: 5rem;
}

/*ACCORDION*/
.accordion-box{
  width: var(--input-width);
}/*ACCORDION*/
.accordion-box.hidden{
  display: none;
}
.accordion-content-title{
  font-weight: normal;
  user-select: none;
  background-color: #fff;
  position: relative;
  padding: .5rem;
  cursor: pointer;
  margin-bottom: 0;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  font-family: var(--font-family);
  font-size: .9rem;
  color: var(--text-color);
  border-radius: var(--radius);
}
.accordion-content{
    background-color: #f5f5f5;
    padding: 0 0 .8rem 0;
    height: 5rem;
    overflow: hidden;
    transition: all .3s ;
}
.accordion-content-title::after{
  content: '-';
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
  position: absolute;
  right: 1rem;
}
.accordion-content-title.inactive::after{
  content: '+';
  font-size: medium;
}
.accordion-content-title.inactive + .accordion-content{
    transition: all .3s ;
    height: 0;
}

.accordion-content ul {
  padding-left: 1rem;
}
.accordion-content ul > li{
  margin-top: .3rem;
  font-family: var(--font-family);
  font-size: .8rem;
  color: var(--text-color);
}
li.accordion-info-item{
  list-style: none;
}
.accordion-info-item strong::after{
    content: ': ';
}
.info-item-title{
  text-transform: capitalize;
}
.accordion-content-title{
  margin: 0;
}
.accordion-wrapper{
  margin-left: 1rem;
}
.accordion-wrapper > *{
  margin-top: 1rem;
}


@keyframes drop-shadow-anim {
  0%{
      transform: scale(1);
  }
  40%{
    transform: scale(1.7);
    opacity: 0.5;
  }
  70%{
    transform: scale(2);
    opacity: 0;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
