html{
  --radius: .4rem;
  --input-width: 13rem;
}
/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
#map {
  height: 90%;
}

/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-location-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: .2rem;
  margin-right: 9px;
  color: #666666;
  cursor: pointer;
}
.user-location-icon{
  vertical-align: middle;
  font-size: 1.7rem;
}

.user-position-img-wrapper{
  position: relative;
  transform: translate(-50%, -50%);
}
.user-position-img-wrapper img{
  width: 40px;
  display: block;
}
.user-position-img-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px #0b5583 solid;
  animation: drop-shadow-anim 1s ease-in 0s infinite normal ;
}
@keyframes drop-shadow-anim {
    0%{
        transform: scale(1);
    }
    40%{
      transform: scale(1.7);
      opacity: 0.5;
    }
    70%{
      transform: scale(2);
      opacity: 0;
    }
    100%{
      transform: scale(2);
      opacity: 0;
    }
}

.location-input, .route-info{
  outline: none;
  margin: 1rem 0 0 1rem;
  border-radius: var(--radius);
  padding: .5rem;
}
.location-input{
  width: var(--input-width);
  display: block;
}
.route-info{
  width: calc( var(--input-width) - 1rem);
  height: 5rem;
}